_*.*
/_*
composer.*
devtest/*
ssh/*
!ssh/.git*
vendor/*
!vendor/phpseclib
vendor/phpseclib/*
!vendor/phpseclib/phpseclib
vendor/phpseclib/phpseclib/*
!vendor/phpseclib/phpseclib/phpseclib
vendor/phpseclib/phpseclib/phpseclib/*
!vendor/phpseclib/phpseclib/phpseclib/Net
vendor/phpseclib/phpseclib/phpseclib/Net/*
!vendor/phpseclib/phpseclib/phpseclib/Net/SFTP.php
